.bottom-footer {
    border-top: solid #656565;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media (width < 1200px) {
    .bottom-footer {
        border: none;
    }
}

@media (width < 600px) {
    .bottom-footer {
        flex-direction: column;
        border: none;
    }
}