.free-shipping {
    display: flex;
    flex-direction: column;
    margin: 0 0.5px;
    position: relative;
    background-color: #FFF;
    justify-content: flex-start;
    align-items: center;
    height: 0;
    padding-bottom: calc(100%/4);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.free-shipping__img {
    padding: 0;
    height: 51px;
    width: 50px;
    margin-top: 7%;
    margin-bottom: -1%;
}

.free-shipping__span {
    font-size: 33px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    color: #0d2e57;
    padding-top: 0.8em;
}

.free-shipping__lorem {
    padding: 10px 30px;
    font-weight: 300;
    color: #8a8a8a;
}

.free-shipping__anchor {
    padding: 2em 4em 2em 4em;
    color: #3753da;
    font-weight: 600;
    text-transform: none;
}

/* Tablet Design */
@media (max-width: 1200px) {
    .free-shipping {
        width: 49.7%;
        margin: 1px 0.5px;
        padding-bottom: calc(100%/3.5);
        height: 185px;
        padding: 3% 0 0 0;
    }
    .free-shipping__img {
        position: absolute;
        align-self: flex-start;
        padding-left: 1.5em;
        height: 2.2em;
        width: unset;
        top: 0.3em;
    }
    .free-shipping__anchor {
        padding: 1em;
    }
    .free-shipping__span {
        font-size: 23px;
        padding-bottom: 0;
    }
}

/* Mobile Design */
@media (max-width: 600px) {
    .free-shipping {
        width: 99%;
        margin: 0;
        height: 125px;
        border-width: 1.5px 0;
        border-style: solid;
        border-color: #8a8a8a;
        background: none;
    }
    .free-shipping--first {
        border-top: none;
    }
    .free-shipping--last {
        border-bottom-width: 3px;
    }
    .free-shipping__img{
        display: none;
    }
    .free-shipping__lorem {
        font-size: 2vw;
    }
    .free-shipping__span {
        font-size: 5vw;
        padding-bottom: 0;
    }
    .free-shipping__anchor {
        font-size: 0.7em;
    }
}
