$border: 1px solid #CCC;

// .yellow {
//   background-color: yellow;
// }

// .green {
//   background-color: green;
// }
// .blue {
//   background-color: blue;
// }
// .black {
//   background-color: black;
// }

header {
  height: 28px;
  text-transform: uppercase;
  position: fixed;
  background-color: #21212175;
}
.header {
  height: 25px;
  background-color: #21212175;
  position: sticky;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #4c5b64;
  text-transform: uppercase;
  width: 100vw;
  @include media-breakpoint-up(sm) {
    max-height: 35px;
  }
  @include media-breakpoint-up(lg) {
    max-height: 64px;
  }

  &__row {
    height: 100%;
    border-bottom: $border;
  }

  &__port-pro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    @include media-breakpoint-up(xl) {
      border-left: 1px solid #4c5b64;
      border-right: 1px solid #4c5b64;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
  }

  &__basket {
    @extend .header__search;
    border-left: $border;
    border-right: $border;
  }

  &__port-pro-link {
    font-weight: 800;
    font-size: 2vw;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    @media (min-width: 901px) {
      font-weight: 900;
      padding: 0 10px;
      font-size: 33px;
    }
  }

  &__anchor {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px;
    color: #fff;
    border: $border;
    @media (min-width: 601px) {
      font-size: 1vw;
      padding: 1vw;
    }
    @media (min-width: 901px) {
      font-size: 13px;
    }
  }

  &__hamburger {
    border-right: $border;
  }

  &__hamburger-img {
    width: 2.5vw;
  }

  &__media-images {
    margin: 0.85vw 0;
    @media (min-width: 901px) {
      margin: 0.85vw 0;
    }
  }

  &__img {
    // margin: 0 -1vw;
    height: 50%;
    @include media-breakpoint-up(sm) {
      width: 1.5vw;
    }
    @media (min-width: 901px) {
      margin: unset;
      width: unset;
    }

    &--ecom {
      // padding-bottom: 0.75vw;
      @media (min-width: 601px) {
        padding-bottom: unset;
      }
    }

    &--fb {
      width: 0.75vw;
      @media (min-width: 901px) {
        width: unset;
      }
    }

    &--media {
      padding-bottom: 1vw;
      @media (min-width: 601px) {
        padding-bottom: unset;
      }
    }
  }
  &__social-media {
    margin: 0;
    display: flex;
    border-left: 1px solid #4c5b64;
    flex-shrink: 2;
    flex-basis: 24em;
    justify-content: flex-end;
    @include media-breakpoint-up(sm) {
      margin: unset;
    }
  }

  &__menu {
    align-items: flex-end;
    @include media-breakpoint-up(sm) {
      align-items: flex-start;
    }
  }

}
