$border: 1px solid #CCC;

// svg {
//   fill: currentColor;
// }

.header {
  text-transform: uppercase;
  position: fixed;
  background-color: #21212175;
  color: #FFF;
  border-bottom: $border;
  @include media-breakpoint-up(sm) {
    max-height: 35px;
  }
  @include media-breakpoint-up(lg) {
    max-height: 64px;
  }
  @include media-breakpoint-up(xxl) {
    height: 25px;
    background-color: #21212175;
    position: sticky;
    top: 0;
    z-index: 9;
    border-bottom: 1px solid #4c5b64;
    text-transform: uppercase;
    width: 100vw;
  }

  &--menu-open {
    border: none;
    z-index: 3;
  }

  &__menu-wrapper {
    transform: translateX(-100%);
    position: absolute;
    background-color: white;
    color: black;
    height: 100vh;
    .header--menu-open & {
      transform: translateX(0);
    }
  }

  &__row {
    height: auto;
  }

  &__port-pro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    @include media-breakpoint-up(xl) {
      border-left: 1px solid #4c5b64;
      border-right: 1px solid #4c5b64;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    padding: 1px 0 0 0;
    &--open {
      border: none;
    }
  }

  &__basket {
    @extend .header__search;
    border-left: $border;
    border-right: $border;
    &--open {
      border: none;
    }
  }

  &__port-pro-link {
    font-weight: 800;
    font-size: 3vw;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    @media (min-width: 901px) {
      font-weight: 900;
      padding: 0 10px;
      font-size: 33px;
    }
    &--open {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 20%);
    }
  }

  &__navigation {
    padding-top: 35px;
  }

  &__menu {
    align-items: flex-end;
    text-align: center;
    background: white;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    @include media-breakpoint-up(sm) {
      align-items: flex-start;
    }
  }

  &__anchor {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    @media (min-width: 601px) {
      font-size: 1vw;
      padding: 1vw;
    }
    @media (min-width: 901px) {
      font-size: 13px;
    }
    &--port-pro-link {
      font-weight: 800;
      font-size: 2vw;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      position: relative;
      bottom: 22px;
    }
  }

  &__hamburger {
    border-right: $border;
    &--open {
      border: none;
    }
  }

  &__hamburger-img {
    width: 2.5vw;
  }

  &__media-images {
    @include media-breakpoint-up(xl){
      margin: 0.85vw 0;
    }
  }

  &__img {
    height: 50%;
    @include media-breakpoint-up(sm) {
      width: 1.5vw;
    }
    @media (min-width: 901px) {
      margin: unset;
      width: unset;
    }

    &--ecom {
      @media (min-width: 601px) {
        padding-bottom: unset;
      }
    }

    &--fb {
      width: 0.75vw;
      @media (min-width: 901px) {
        width: unset;
      }
    }

    &--media {
      padding-bottom: 1vw;
      @media (min-width: 601px) {
        padding-bottom: unset;
      }
    }
  }
  &__social-media {
    margin: 0;
    display: flex;
    border-left: 1px solid #4c5b64;
    flex-shrink: 2;
    flex-basis: 24em;
    justify-content: flex-end;
    @include media-breakpoint-up(sm) {
      margin: unset;
    }
    &--open {
      position: absolute;
      top: 0;
      transform: translateY(180px);
      justify-content: center;
      border: none;
    }
  }
}
