    .main-body {
    position: relative;
    bottom: 20px;
    z-index:2;
    bottom: 0;
    padding: 0;
    @include media-breakpoint-up(sm) {
    box-shadow: 0 0 75px 0 #212121;
    }
    }

.main-body::before{
    @include media-breakpoint-up(sm) {
    box-shadow: -20px 0 20px 5px #e0e0e0;
    }
}

.main-body::after{
    @include media-breakpoint-up(sm) {
    box-shadow: 0 20px 5px 5px #e0e0e0;
    }
}
