.t-and-c {
  font-size: 10px;
  text-align: center;
  color: #656565;
  line-height: 150%;
  padding: 1em 0;
  margin: 0 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @include media-breakpoint-up(sm) {
    font-size: 1.2vw;
    text-align: unset;
  }
  @include media-breakpoint-up(xl) {
    font-size: 15px;
  }
}
