.black-banner {
    background: url('/images/runner.jpg') right -30px/45% no-repeat #0f0f19;
    display: flex;
    flex: 1 1 0;
    margin: 0;
    color: #FFF;
    list-style-type: none;
}

@media (width < 1200px) {
    .black-banner {
        background: url('/images/runner.jpg') right -10px/62% no-repeat #0f0f19;
    }
    .black-banner__tile {
        min-height: 100px;
    }
}
@media (width < 600px) {
    .black-banner {
        display: none;
    }
}