.footer-background {
    background: url("/images/background.jpg") bottom repeat #FFF;
    margin-top: -500px;
    height: 500px;
}

@media (max-width: 1200px) {
    .footer-background {
        margin-top: -120vh;
        height: 120vh;
    }
}

@media (width < 600px) {
    .footer-background {
        display: none;
    }
}