.footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 105px;
    margin-bottom: -105px;
}

.footer__h3 {
    color: #3145b6;
    margin: 5em 0 0.2em 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.footer__h3--no-margin {
    margin: 40px 0 10px 0;
}

.footer__ul {
    list-style: none;
    padding: 0;
}

.footer__ul--social-media {
    display: flex;
    justify-content: space-around;
}

.footer__ul li {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 0.8em;
    color: #FFF;
}

.footer__form {
    border-radius: 25px;
    border: none;
    height: 1.8em;
    background-color: #2f2f2f;
    margin-bottom: 30px;
}

@media (width < 900px) {
    .footer {
        flex-direction: column;
        bottom: 0;
        margin: 0;
    }
    .footer__h3 {
        margin: 20px 0;
        font-weight: 600;
        text-shadow: 1px 1px 1px white;
    }
}
