.free-shipping__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0.5px;
    background-color: #FFF;
    height: 309px;
    text-align: center;
}

.free-shipping {
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.free-shipping--span {
    font-size: 33px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    color: #0d2e57;
}

.free-shipping--lorem {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8a8a8a;
}

.free-shipping--anchor {
    padding: 2em 4em 4em 4em;
    color: #3753da;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: none;
}