.free-shipping--span {
    font-size: 33px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    color: #0d2e57;
    padding-top: 0.8em;
}

.free-shipping--lorem {
    padding: 10px 30px;
    font-weight: 300;
    color: #8a8a8a;
}

.free-shipping--anchor {
    padding: 2em 4em 2em 4em;
    color: #3753da;
    font-weight: 600;
    text-transform: none;
}

/* Tablet Design */
@media (max-width: 1200px) {
    .free-shipping--anchor {
        padding: 1em;
    }
    .free-shipping--span {
        font-size: 23px;
        padding-bottom: 0;
    }
}

/* Mobile Design */
@media (max-width: 600px) {
    .free-shipping--lorem {
        font-size: 2vw;
    }
    .free-shipping--span {
        font-size: 5vw;
        padding-bottom: 0;
    }
}
