.header {
    background-color: #21212175;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9;
    max-height: 64px;
    border-bottom: 1px solid #4c5b64;
    text-transform: uppercase;
}

.header__port-pro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #4c5b64;
    border-right: 1px solid #4c5b64;
    padding-left: 1em;
    padding-right: 1em;
}

.header__port-pro-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 33px;
    padding: 0 10px;
    text-decoration: none;
    color: #FFF;
}

.header__anchor {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px;
    color: #FFF;
}

.header__social-media {
    display: flex;
    border-left: 1px solid #4c5b64;
    padding-left: 1em;
    margin-left: 24em;
}

.header__social-anchor {
    padding: 0 10px;
}

.header__ecom-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #4c5b64;
    padding-left: 0.55em;
}

.header__ecom-tools--padding-right{
    padding-right: 0.5em;
}