.logos {
    position: relative;
    padding-bottom: calc(100%/6);
    height: 0;
    border: 0.5px solid #CCC;
    flex: 1 1 0;
}

.logos__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.logos__img--pks {
    height: 80%;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: -40% 0 0 -40%;
}

.logos__img--la-coste {
    height: 60%;
    top: 50%;
    margin-top: -30%;
}
