.main-body {
    position: relative;
    bottom: 20px;
    z-index:2;
    box-shadow: 0 0 75px 0 #212121;
}

.main-body::before{
    box-shadow: -20px 0 20px 5px #e0e0e0;
}

.main-body::after{
    box-shadow: 0 20px 5px 5px #e0e0e0;
}

@media (width < 1000px) {
    .main-body {
        box-shadow: none;
        bottom: 0;
    }
    .main-body::before{
        box-shadow: none;
    }
    .main-body::after{
        box-shadow: none;
    }
}
