.black-banner {
  background: url("/images/runner.jpg") right -30px/45% no-repeat #0f0f19;
  display: flex;
  flex: 1 1 0;
  margin: 0;
  color: #FFF;
  list-style-type: none;
}

@media (width < 1200px) {
  .black-banner {
    background: url("/images/runner.jpg") right -10px/62% no-repeat #0f0f19;
  }
  .black-banner__tile {
    min-height: 100px;
  }
}
@media (width < 600px) {
  .black-banner {
    display: none;
  }
}
.bottom-footer {
  border-top: solid #656565;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (width < 1200px) {
  .bottom-footer {
    border: none;
  }
}
@media (width < 600px) {
  .bottom-footer {
    flex-direction: column;
    border: none;
  }
}
.btn {
  width: 120px;
}

.btn--shop-now {
  display: flex;
  background-color: #3954d9;
  border-radius: 30px;
  height: 2em;
  font-size: 13px;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.btn--width-50 {
  width: 50%;
}

.btn--blue-click {
  color: #3753da;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px;
}

.btn--size13 {
  font-size: 13px;
}

.btn--no-margin {
  margin: 0;
}

.btn--margin-left-30 {
  margin-left: 30px;
}

.btn--cerulean {
  background-color: #65cbff;
  color: #000;
  margin-top: 35px;
}

@media (max-width: 1200px) {
  .btn {
    width: 9vw;
    font-size: 1vw;
  }
  .btn--margin-left-30 {
    margin-left: 1vw;
  }
}
@media (max-width: 600px) {
  .btn {
    width: 60px;
    font-size: 1.25ex;
  }
  .btn--shop-now {
    margin-bottom: 0;
  }
}
.clock {
  flex-direction: column;
  background-color: #FFF;
  border-radius: 20%;
  margin: 0 5px;
  padding: 5px 0;
  margin-bottom: 15px;
}

.clock__digit {
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-weight: 600;
  font-size: 38px;
}

.clock__dots {
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin-top: -18px;
}

.clock__unit {
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: -12px;
}

@media (max-width: 640px) {
  .clock {
    min-width: 55px;
  }
  .clock__digit {
    font-size: 28px;
  }
  .clock__unit {
    font-size: 8px;
  }
}
.flex-box {
  display: flex;
}

.flex-box--background-white {
  background-color: #FFF;
}

.flex-box--direction-column {
  flex-direction: column;
}

.flex-box--justify-center {
  justify-content: center;
}

.flex-box--align-center {
  align-items: center;
}

.flex-box--align-baseline {
  align-items: baseline;
}

.flex-box__img--grey-size-30 {
  max-width: 30px;
  max-height: 30px;
  filter: grayscale(100%);
  margin: 0 2px;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 105px;
  margin-bottom: -105px;
}

.footer__h3 {
  color: #3145b6;
  margin: 5em 0 0.2em 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.footer__h3--no-margin {
  margin: 40px 0 10px 0;
}

.footer__ul {
  list-style: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #FFF;
}

.footer__li {
  margin: 0.8em;
}

.footer__ul--social-media {
  display: flex;
  justify-content: space-around;
}

.footer__form {
  border-radius: 25px;
  border: none;
  height: 1.8em;
  background-color: #2f2f2f;
  margin-bottom: 30px;
}

.footer__background-img {
  margin: 0 3px;
}

.footer__img {
  filter: brightness(0%);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -60%;
}

@media (max-width: 1200px) {
  .footer__img {
    width: 2.3vw;
  }
  .footer__background-img {
    width: 4.5vw;
  }
  .footer__h3 {
    font-size: 2.75vw;
    margin: 15vw 1vw 0 1vw;
  }
  .footer__h3--no-margin {
    margin: 40px 0 10px 0;
  }
  .footer__ul {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    bottom: 0;
    margin: 0;
  }
  .footer__img {
    width: unset;
  }
  .footer__background-img {
    width: unset;
  }
  .footer__ul {
    margin: 0;
  }
  .footer__h3 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
  }
  .footer__btn {
    margin: -15px 0 25px 0;
    align-self: center;
  }
}
.footer-background {
  background: url("/images/background.jpg") bottom repeat #FFF;
  margin-top: -500px;
  height: 500px;
}

@media (max-width: 1200px) {
  .footer-background {
    margin-top: -120vh;
    height: 120vh;
  }
}
@media (width < 600px) {
  .footer-background {
    display: none;
  }
}
.free-shipping {
  display: flex;
  flex-direction: column;
  margin: 0 0.5px;
  position: relative;
  background-color: #FFF;
  justify-content: flex-start;
  align-items: center;
  height: 0;
  padding-bottom: 25%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.free-shipping__img {
  padding: 0;
  height: 51px;
  width: 50px;
  margin-top: 7%;
  margin-bottom: -1%;
}

.free-shipping__span {
  font-size: 33px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: #0d2e57;
  padding-top: 0.8em;
}

.free-shipping__lorem {
  padding: 10px 30px;
  font-weight: 300;
  color: #8a8a8a;
}

.free-shipping__anchor {
  padding: 2em 4em 2em 4em;
  color: #3753da;
  font-weight: 600;
  text-transform: none;
}

/* Tablet Design */
@media (max-width: 1200px) {
  .free-shipping {
    width: 49.7%;
    margin: 1px 0.5px;
    padding-bottom: 28.5714285714%;
    height: 185px;
    padding: 3% 0 0 0;
  }
  .free-shipping__img {
    position: absolute;
    align-self: flex-start;
    padding-left: 1.5em;
    height: 2.2em;
    width: unset;
    top: 0.3em;
  }
  .free-shipping__anchor {
    padding: 1em;
  }
  .free-shipping__span {
    font-size: 23px;
    padding-bottom: 0;
  }
}
/* Mobile Design */
@media (max-width: 600px) {
  .free-shipping {
    width: 99%;
    margin: 0;
    height: 125px;
    border-width: 1.5px 0;
    border-style: solid;
    border-color: #8a8a8a;
    background: none;
  }
  .free-shipping--first {
    border-top: none;
  }
  .free-shipping--last {
    border-bottom-width: 3px;
  }
  .free-shipping__img {
    display: none;
  }
  .free-shipping__lorem {
    font-size: 2vw;
  }
  .free-shipping__span {
    font-size: 5vw;
    padding-bottom: 0;
  }
  .free-shipping__anchor {
    font-size: 0.7em;
  }
}
.header {
  max-height: 23px;
  background-color: rgba(33, 33, 33, 0.4588235294);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid #4c5b64;
  text-transform: uppercase;
  width: 100vw;
}
@media (min-width: 576px) {
  .header {
    max-height: 35px;
  }
}
@media (min-width: 992px) {
  .header {
    max-height: 64px;
  }
}
.header__port-pro-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #4c5b64;
  border-right: 1px solid #4c5b64;
  padding: 0 1em;
}
.header__port-pro-link {
  font-weight: 800;
  font-size: 2vw;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #FFF;
}
@media (min-width: 901px) {
  .header__port-pro-link {
    font-weight: 900;
    padding: 0 10px;
    font-size: 33px;
  }
}
.header__anchor {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  padding: 0 10px;
  color: #FFF;
}
@media (min-width: 601px) {
  .header__anchor {
    font-size: 1vw;
    padding: 1vw;
  }
}
@media (min-width: 901px) {
  .header__anchor {
    font-size: 13px;
  }
}
.header__hamburger {
  width: 2vw;
}
.header__media-images {
  margin: 0.85vw 0;
}
@media (min-width: 901px) {
  .header__media-images {
    margin: 0.85vw 0;
  }
}
.header__img {
  margin: 0 -1vw;
}
@media (min-width: 601px) {
  .header__img {
    width: 1.5vw;
  }
}
@media (min-width: 901px) {
  .header__img {
    margin: unset;
    width: unset;
  }
}
.header__img--ecom {
  padding-bottom: 0.75vw;
}
@media (min-width: 601px) {
  .header__img--ecom {
    padding-bottom: unset;
  }
}
.header__img--fb {
  width: 0.75vw;
}
@media (min-width: 901px) {
  .header__img--fb {
    width: unset;
  }
}
.header__img--media {
  padding-bottom: 1vw;
}
@media (min-width: 601px) {
  .header__img--media {
    padding-bottom: unset;
  }
}
.header__social-media {
  margin: 0;
  display: flex;
  border-left: 1px solid #4c5b64;
  flex-shrink: 2;
  flex-basis: 24em;
  justify-content: flex-end;
  background-color: red;
}
@media (min-width: 601px) {
  .header__social-media {
    margin: unset;
  }
}
.header__menu {
  align-items: flex-end;
  background-color: green;
}
@media (min-width: 601px) {
  .header__menu {
    align-items: flex-start;
  }
}
.header__social-anchor {
  padding: 0 10px;
}
.header__ecom-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #4c5b64;
  padding-left: 0.55vw;
  flex-grow: 0;
}
.header__ecom-tools--padding-right {
  padding-right: 0.5em;
}

.li--basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.5px;
  background-color: white;
  height: 309px;
}

.li--quarter-width {
  width: 25%;
}

.link {
  color: #FFF;
  position: relative;
}

.link--tile {
  width: 25%;
}

.link--tile:hover {
  color: #8a8a8a;
}

@media (max-width: 600px) {
  .link--tile {
    width: 49%;
  }
}
.logos {
  position: relative;
  padding-bottom: 16.6666666667%;
  height: 0;
  border: 0.5px solid #ccc;
  flex: 1 1 0;
}
@media (max-width: 600px) {
  .logos {
    display: none;
  }
}
.logos__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.logos__img--colourful {
  filter: grayscale(0);
}

.logos__img--pks {
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;
}

.logos__img--la-coste {
  height: 60%;
  top: 50%;
  margin-top: -30%;
}

@media (max-width: 1200px) {
  .logos {
    padding-bottom: 16.6666666667%;
  }
  .logos--desktop {
    position: absolute;
    display: none;
  }
}
@media (max-width: 600px) {
  .logos {
    display: none;
  }
}
.main-body {
  position: relative;
  bottom: 20px;
  z-index: 2;
  box-shadow: 0 0 75px 0 #212121;
}

.main-body::before {
  box-shadow: -20px 0 20px 5px #e0e0e0;
}

.main-body::after {
  box-shadow: 0 20px 5px 5px #e0e0e0;
}

@media (width < 600px) {
  .main-body {
    box-shadow: none;
    bottom: 0;
  }
  .main-body::before {
    box-shadow: none;
  }
  .main-body::after {
    box-shadow: none;
  }
}
.main-container {
  background-color: #FFF;
  padding: 0 100px;
  z-index: 0;
}

@media (600px > width) {
  .main-container {
    padding: 0 50px;
    background: linear-gradient(white, transparent), url("/images/background.jpg") bottom repeat #FFF;
  }
}
.offer {
  display: flex;
  background-color: #f2f0f0;
  text-align: center;
}

.offer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.offer__right {
  width: 50%;
}

.offer__img {
  width: 100%;
  height: 100%;
}

.offer__lorem {
  margin: 0.5em 5em;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #8a8a8a;
}

.offer__subtitle {
  color: #616161;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-top: 65px;
  text-transform: uppercase;
}

.offer__title {
  color: #0d2e57;
  font-size: 43px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .offer__left {
    width: 100%;
  }
  .offer__right {
    display: none;
  }
}
@media (max-width: 600px) {
  .offer {
    background: none;
  }
  .offer__title {
    font-size: 26px;
  }
  .offer__subtitle {
    padding-top: 45px;
  }
  .offer__lorem {
    font-size: 12px;
    margin: 0;
  }
}
@media (max-width: 600px) {
  .payment-types {
    justify-content: center;
  }
}
.photos {
  height: 0;
  padding-bottom: 25%;
  border: 0.5px solid #CCC;
  flex: 1 1 0;
}

.photos--1 {
  background: url("/images/image1.jpg") center/155% no-repeat #000;
}

.photos--2 {
  background: url("/images/image2.jpg") center/110% no-repeat #000;
}

.photos--3 {
  background: url("/images/image3.jpg") center/120% no-repeat #000;
}

.photos--4 {
  background: url("/images/image4.jpg") center/110% no-repeat #000;
}

.photos--5 {
  background: url("/images/image5.jpg") center/110% no-repeat #000;
}

.photos--6 {
  background: url("/images/image6.jpg") center/100% no-repeat #000;
}

.photos--7 {
  background: url("/images/image7.jpg") center/110% no-repeat #000;
}

.photos--8 {
  background: url("/images/image8.jpg") center/110% no-repeat #000;
}

@media (width < 600px) {
  .photos {
    display: none;
  }
}
.price {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.price--reduction {
  color: #3954d9;
  font-size: 52px;
  font-weight: 700;
}

.price--full {
  font-size: 33px;
  color: #121212;
  font-weight: 500;
  text-decoration: line-through;
}

@media (max-width: 640px) {
  .price--reduction {
    font-size: 32px;
  }
  .price--full {
    font-size: 16px;
  }
}
.sprinter {
  display: flex;
  background: url("/images/sprinter.jpg") center bottom 0px/116% no-repeat #0d2e57;
  color: white;
  text-transform: uppercase;
  line-height: 0.75;
}

.sprinter__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 10% 10%;
}

.sprinter__heading {
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

.sprinter__body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.7em;
  padding: 1em 0 2em 0.6em;
  font-size: 0.8vw;
}

.sprinter__btn {
  font-size: 17px;
  text-decoration: none;
}

.sprinter__anchor {
  width: 30%;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sprinter {
    background: url("/images/sprinter.jpg") center bottom 20%/116% no-repeat #0d2e57;
  }
  .sprinter__column {
    margin: 0 0 0 10%;
  }
  .sprinter__heading {
    margin-top: 28%;
  }
  .sprinter__body {
    font-size: 0.8vw;
    padding: 0;
    margin: 5% 0 15% 0;
  }
  .sprinter__btn {
    height: 1.5em;
    font-size: 1.6vw;
    width: 50%;
  }
}
@media (max-width: 600px) {
  .sprinter {
    background: url("/images/sprinter.jpg") center 80%/116% #0d2e57;
  }
  .sprinter__column {
    margin: 0 0 5% 10%;
  }
  .sprinter__btn {
    margin-bottom: 5%;
  }
}
.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5px;
  background-color: #FFF;
  padding-bottom: 30px;
  position: relative;
}

.tile--transparent {
  background-color: transparent;
}

.tile--sunglasses {
  border: 1px #c7c7c7 solid;
}

.tile__h1 {
  line-height: 90%;
  margin-left: 18px;
  font-style: italic;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 2.7em;
  text-transform: uppercase;
}

.tile__h2 {
  line-height: 90%;
  margin: 50px 30px 0 30px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.1em;
}

.tile__h3 {
  margin: 20px 0 30px 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.45em;
  text-transform: uppercase;
}

.tile--clickable:hover::before {
  content: "";
  background-color: rgba(138, 138, 138, 0.3764705882);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.tile--clickable:hover::after {
  content: "Shop Now";
  background-color: #3954d9;
  position: absolute;
  /* center */
  width: 85px;
  left: 0;
  right: 0;
  top: 0;
  margin: 45% auto;
  /**********/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 2em;
  font-size: 13px;
  color: #FFF;
  padding: 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.tile__img {
  height: 100%;
  width: 100%;
  padding: 2em 0 1em 0;
}

.tile__img--sunglasses {
  width: 80%;
  align-self: center;
  padding: 3em 0 3em 0;
}

.tile__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #0d2e57;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.tile__title--padding-left-39 {
  padding-left: 39px;
}

.tile__content-container {
  padding-left: 39px;
}

.tile__content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.tile__content--blue {
  color: #3954d9;
  font-size: 13px;
}

.tile__content--grey {
  color: #818181;
  font-size: 12px;
  text-decoration: line-through;
}

.tile__anchor {
  width: 30%;
}

@media (max-width: 1200px) {
  .tile {
    min-height: 203px;
    padding-bottom: 20px;
    justify-content: flex-end;
  }
  .tile--black-banner {
    min-height: 26vw;
    max-height: 287px !important;
  }
  .tile__content-container {
    padding: 0 10px;
    text-align: center;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .tile__h1 {
    margin-left: 0.3em;
    padding-top: 25px;
    font-size: 3.4vw;
  }
  .tile__h2 {
    margin: 0.5em 10px 0 10px;
    font-size: 2.5vw;
  }
  .tile__h3 {
    margin: 10px 0 20px 20px;
    font-size: 0.5em;
    font-weight: 300;
    letter-spacing: 0.45em;
  }
  .tile__img--sunglasses {
    padding: 0;
  }
  .tile__title {
    font-size: 20px;
    font-weight: 600;
  }
}
@media (max-width: 600px) {
  .tile {
    background: none;
    padding-bottom: 10px;
  }
  .tile__content--grey {
    color: #DDD;
  }
  .tile__content-container {
    padding: 0;
    text-align: center;
  }
}
.tile-row {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: rgba(17, 17, 17, 0.0666666667);
  padding: 0;
  background-color: #c7c7c7;
  margin: 0;
}

@media (max-width: 1200px) {
  .tile-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .tile-row {
    background: none;
  }
}
.t-and-c {
  color: #656565;
  line-height: 150%;
  padding: 1em 0;
  margin: 0 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .t-and-c {
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  .t-and-c {
    font-size: 10px;
    text-align: center;
  }
}
.ul {
  list-style-type: none;
}

.ul--no-padding {
  padding: 0;
}/*# sourceMappingURL=main.css.map */