.black-banner {
  background: url("/images/runner.jpg") right -10px/62% no-repeat #0f0f19;
  display: flex;
  flex: 1 1 0;
  padding: 0;
  margin: 0;
  color: #fff;
  list-style-type: none;
}
@media (min-width: 1200px) {
  .black-banner {
    background: url("/images/runner.jpg") right -30px/45% no-repeat #0f0f19;
  }
}
.black-banner__h1 {
  margin-left: 0.3em;
  padding-top: 25px;
  font-size: 3vw;
  line-height: 90%;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .black-banner__h1 {
    margin-left: unset;
    margin-left: 18px;
    padding-top: 50px;
  }
}
@media (min-width: 992px) {
  .black-banner__h1 {
    font-size: 3.4vw;
  }
}
.black-banner > * {
  padding: 0;
}
.black-banner__anchor {
  height: 0;
  padding-bottom: 25%;
  margin: 0;
}
.black-banner__tile {
  height: 0;
  padding-top: 25%;
  margin: 0;
}

.bottom-footer {
  flex-direction: column;
  border: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 576px) {
  .bottom-footer {
    flex-direction: unset;
    border-top: solid #656565;
  }
}

.btn {
  width: 60px;
  font-size: 1.25ex;
}
@media (min-width: 576px) {
  .btn {
    width: 9vw;
    font-size: 1vw;
  }
}
@media (min-width: 1200px) {
  .btn {
    width: 120px;
    font-size: unset;
  }
}
.btn--shop-now {
  margin-bottom: 0;
  display: flex;
  background-color: #3954d9;
  border-radius: 30px;
  font-size: 8px;
  height: 2em;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .btn--shop-now {
    font-size: 13px;
    margin-bottom: 60px;
  }
}
.btn--width-50 {
  width: 50%;
}
.btn--blue-click {
  color: #3753da;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px;
}
.btn--size13 {
  font-size: 13px;
}
.btn--no-margin {
  margin: 0;
}
.btn--margin-left-30 {
  margin-left: 1vw;
}
@media (min-width: 1200px) {
  .btn--margin-left-30 {
    margin-left: 30px;
  }
}
.btn--cerulean {
  background-color: #65cbff;
  color: #000;
  margin-top: 35px;
}

.clock {
  min-width: 55px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20%;
  margin: 0 5px;
  padding: 5px 0;
  margin-bottom: 15px;
  font-size: 38px;
}
@media (min-width: 576px) {
  .clock {
    min-width: none;
  }
}
.clock__digit {
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1em;
}
.clock__dots {
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin-top: -18px;
  font-size: 0.5em;
}
.clock__unit {
  font-size: 8px;
  color: #2d2b27;
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -12px;
}
@media (min-width: 576px) {
  .clock__unit {
    font-size: 0.3em;
  }
}

.flex-box--background-white {
  background-color: #fff;
}
.flex-box--direction-column {
  flex-direction: column;
}
.flex-box--justify-center {
  justify-content: center;
}
.flex-box--align-center {
  align-items: center;
}
.flex-box--align-baseline {
  align-items: baseline;
}
.flex-box__img--grey-size-30 {
  max-width: 30px;
  max-height: 30px;
  filter: grayscale(100%);
  margin: 0 2px;
}

.footer {
  flex-direction: column;
  bottom: 0;
  margin: 0;
  justify-content: space-around;
  position: relative;
}
@media (min-width: 576px) {
  .footer {
    flex-direction: unset;
    bottom: 105px;
    margin-bottom: -105px;
  }
}
.footer__h3 {
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #3145b6;
  font-size: 2.75vw;
}
@media (min-width: 576px) {
  .footer__h3 {
    margin: 15vw 1vw 0 1vw;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .footer__h3 {
    font-size: 2.05vw;
    margin: 5em 0 0.2em 0;
  }
}
.footer__h3--no-margin {
  margin: 40px 0 10px 0;
}
.footer__ul {
  margin: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 12px;
}
@media (min-width: 1200px) {
  .footer__ul {
    font-size: 15px;
  }
}
.footer__ul--social-media {
  display: flex;
  justify-content: space-around;
}
.footer__li {
  margin: 0.8em;
}
.footer__form {
  border-radius: 25px;
  border: none;
  height: 1.8em;
  background-color: #2f2f2f;
  margin-bottom: 30px;
}
.footer__background-img {
  width: 4.5vw;
}
@media (min-width: 1200px) {
  .footer__background-img {
    margin: 0 3px;
  }
}
.footer__img {
  width: 2.3vw;
  filter: brightness(0%);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -60%;
}
@media (min-width: 1200px) {
  .footer__img {
    width: unset;
  }
}
.footer__btn {
  margin: -15px 0 25px 0;
  align-self: center;
}
@media (min-width: 576px) {
  .footer__btn {
    margin: unset;
    align-self: unset;
  }
}

@media (min-width: 576px) {
  .footer-background {
    background: url("/images/background.jpg") bottom repeat #fff;
    margin-top: -120vh;
    height: 120vh;
  }
}
@media (min-width: 1200px) {
  .footer-background {
    margin-top: -500px;
    height: 500px;
  }
}

.free-shipping {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  text-align: center;
  border-width: 1.5px 0;
  border-style: solid;
  border-color: #8a8a8a;
  background: none;
}
@media (min-width: 576px) {
  .free-shipping {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    padding: 3% 0 0 0;
  }
}
@media (min-width: 1200px) {
  .free-shipping {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    border-width: 0 1px;
  }
}
.free-shipping--first {
  border-top: none;
}
@media (min-width: 576px) {
  .free-shipping--first {
    border-top: 1px solid #c7c7c7;
  }
}
@media (min-width: 1200px) {
  .free-shipping--first {
    border-left: none;
  }
}
.free-shipping--last {
  border-bottom: none;
}
@media (min-width: 576px) {
  .free-shipping--last {
    border-bottom: 1px solid #c7c7c7;
  }
}
@media (min-width: 1200px) {
  .free-shipping--last {
    border-right: none;
  }
}
.free-shipping__img {
  display: none;
}
@media (min-width: 576px) {
  .free-shipping__img {
    display: unset;
    position: absolute;
    align-self: flex-start;
    padding-left: 1.5em;
    height: 2.2em;
    width: unset;
    top: 0.3em;
  }
}
@media (min-width: 1200px) {
  .free-shipping__img {
    position: unset;
    align-self: unset;
    top: unset;
    padding: 0;
    height: 51px;
    width: 50px;
    margin-top: 7%;
    margin-bottom: -1%;
  }
}
.free-shipping__span {
  font-size: 5vw;
  padding-bottom: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: #0d2e57;
  padding-top: 0.8em;
}
@media (min-width: 576px) {
  .free-shipping__span {
    z-index: 1;
    font-size: 23px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .free-shipping__span {
    font-size: 33px;
  }
}
.free-shipping__lorem {
  font-size: 2vw;
  padding: 10px 30px;
  font-weight: 300;
  color: #8a8a8a;
}
@media (min-width: 576px) {
  .free-shipping__lorem {
    font-size: unset;
  }
}
.free-shipping__anchor {
  font-size: 0.7em;
  padding: 2em 4em 2em 4em;
  color: #3753da;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 576px) {
  .free-shipping__anchor {
    font-size: unset;
    padding: 1em;
  }
}

.header {
  background-color: rgba(33, 33, 33, 0.4588235294);
  color: #FFF;
  border-bottom: 1px solid #CCC;
  transition-duration: 1s;
}
.header--menu-open {
  border: none;
  color: #000;
  z-index: 3;
}
.header__menu-wrapper {
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-property: transform;
  position: absolute;
  background-color: white;
  height: 100vh;
  padding-top: 25px;
}
.header--menu-open .header__menu-wrapper {
  transform: translateX(0);
  color: #000;
}
@media (min-width: 1200px) {
  .header__menu-wrapper {
    transform: translateX(0);
    background-color: unset;
    height: auto;
    position: relative;
    padding-top: 0;
  }
}
.header__port-pro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
@media (min-width: 1200px) {
  .header__port-pro-container {
    padding: 1.5em 1em;
    border-right: 1px solid #CCC;
    align-items: center;
  }
}
.header__search, .header__basket {
  display: flex;
  justify-content: center;
  padding: 1px 0 0 0;
  z-index: 0;
  border-left: 1px solid #CCC;
  align-items: center;
}
.header--menu-open .header__search, .header--menu-open .header__basket {
  border: none;
}
.header__basket {
  border-right: 1px solid #CCC;
}
.header__port-pro-link {
  font-weight: 800;
  font-size: 3vw;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: inherit;
  z-index: 1;
  transition-duration: 1s;
  transition-property: color;
  position: absolute;
}
@media (min-width: 901px) {
  .header__port-pro-link {
    font-weight: 900;
    padding: 0 10px;
    font-size: 33px;
  }
}
.header__menu {
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
}
@media (min-width: 1200px) {
  .header__menu {
    display: flex;
  }
}
.header__anchor {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 8px;
  font-weight: 600;
  text-decoration: none;
  padding: 0 10px;
  color: #000;
}
@media (min-width: 601px) {
  .header__anchor {
    font-size: 1vw;
    padding: 1vw;
  }
}
@media (min-width: 901px) {
  .header__anchor {
    font-size: 13px;
  }
}
.header__anchor--port-pro-link {
  font-weight: 800;
  font-size: 2vw;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  position: relative;
  bottom: 22px;
}
.header__hamburger {
  border-right: 1px solid #CCC;
  transition-duration: 1s;
  transition-property: border;
}
.header--menu-open .header__hamburger {
  border: none;
  z-index: 2;
}
.header__hamburger--top {
  z-index: 45;
  transition-duration: 0.5s;
  transition-property: transform, color;
}
.header--menu-open .header__hamburger--top {
  transform: rotate(45deg) translate(1%, -25%);
}
.header__hamburger--middle {
  transition-duration: 1s;
  transition-property: transform;
}
.header--menu-open .header__hamburger--middle {
  display: none;
}
.header__hamburger--bottom {
  transition-duration: 1s;
  transition-property: transform color;
}
.header--menu-open .header__hamburger--bottom {
  transform: rotate(-45deg) translate(-15%, -5%);
}
.header__hamburger-img {
  width: 2.5vw;
}
@media (min-width: 1200px) {
  .header__media-images {
    margin: 0.85vw 0;
  }
}
.header__img {
  height: 50%;
}
@media (min-width: 576px) {
  .header__img {
    width: 1.5vw;
  }
}
@media (min-width: 901px) {
  .header__img {
    margin: unset;
    width: unset;
  }
}
@media (min-width: 601px) {
  .header__img--ecom {
    padding-bottom: unset;
  }
}
.header__img--fb {
  width: 0.75vw;
}
@media (min-width: 901px) {
  .header__img--fb {
    width: unset;
  }
}
.header__img--media {
  padding-bottom: 1vw;
}
@media (min-width: 601px) {
  .header__img--media {
    padding-bottom: unset;
  }
}
.header__social-media {
  margin: 0;
  display: flex;
  flex-shrink: 2;
  flex-basis: 24em;
  justify-content: flex-end;
  position: absolute;
  top: 175px;
}
@media (min-width: 576px) {
  .header__social-media {
    margin: unset;
  }
}
@media (min-width: 1200px) {
  .header__social-media {
    position: relative;
    border-left: 1px solid #CCC;
  }
}

.li--basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 0.5px;
  background-color: white;
  height: 309px;
}

.link {
  color: #fff;
  position: relative;
  text-decoration: none;
}
.link--tile {
  text-decoration: none;
  padding: 0;
}
.link--tile:hover {
  color: #8a8a8a;
}

.logos {
  position: relative;
  padding-bottom: 16.6666666667%;
  height: 0;
  border: 0.5px solid #ccc;
  flex: 1 1 0;
}
.logos__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.logos__img--pks {
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;
}
.logos__img--la-coste {
  height: 60%;
  top: 50%;
  margin-top: -30%;
}

.main-body {
  position: relative;
  bottom: 20px;
  z-index: 2;
  bottom: 0;
  padding: 0;
}
@media (min-width: 576px) {
  .main-body {
    box-shadow: 0 0 75px 0 #212121;
  }
}

@media (min-width: 576px) {
  .main-body::before {
    box-shadow: -20px 0 20px 5px #e0e0e0;
  }
}

@media (min-width: 576px) {
  .main-body::after {
    box-shadow: 0 20px 5px 5px #e0e0e0;
  }
}

.main-container {
  padding: 0 50px;
  background: linear-gradient(white, transparent), url("/images/background.jpg") bottom repeat #FFF;
  z-index: 0;
}
@media (min-width: 576px) {
  .main-container {
    padding: 0 100px;
    background: unset;
    background-color: #FFF;
  }
}

.offer {
  background: none;
  display: flex;
  text-align: center;
  margin: 0;
}
@media (min-width: 576px) {
  .offer {
    background-color: #f2f0f0;
  }
}
.offer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.offer__right {
  padding: 0;
}
.offer__img {
  width: 100%;
}
.offer__lorem {
  font-size: 12px;
  margin: 0;
  padding: 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #8a8a8a;
}
@media (min-width: 576px) {
  .offer__lorem {
    font-size: unset;
    margin: 0.5em 5em;
  }
}
.offer__subtitle {
  padding-top: 45px;
  color: #616161;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 65px;
}
.offer__title {
  font-size: 26px;
  color: #0d2e57;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}
@media (min-width: 576px) {
  .offer__title {
    font-size: 43px;
  }
}

.payment-types {
  justify-content: center;
}
@media (min-width: 576px) {
  .payment-types {
    justify-content: unset;
  }
}

.photos {
  height: 0;
  padding-bottom: 25%;
  border: 0.5px solid #CCC;
  flex: 1 1 0;
}

.photos--1 {
  background: url("/images/image1.jpg") center/155% no-repeat #000;
}

.photos--2 {
  background: url("/images/image2.jpg") center/110% no-repeat #000;
}

.photos--3 {
  background: url("/images/image3.jpg") center/120% no-repeat #000;
}

.photos--4 {
  background: url("/images/image4.jpg") center/110% no-repeat #000;
}

.photos--5 {
  background: url("/images/image5.jpg") center/110% no-repeat #000;
}

.photos--6 {
  background: url("/images/image6.jpg") center/100% no-repeat #000;
}

.photos--7 {
  background: url("/images/image7.jpg") center/110% no-repeat #000;
}

.photos--8 {
  background: url("/images/image8.jpg") center/110% no-repeat #000;
}

.price {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.price--reduction {
  color: #3954d9;
  font-size: 32px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .price--reduction {
    font-size: 52px;
  }
}
.price--full {
  font-size: 16px;
  color: #121212;
  font-weight: 500;
  text-decoration: line-through;
}
@media (min-width: 576px) {
  .price--full {
    font-size: 33px;
  }
}

.sprinter {
  background: url("/images/sprinter.jpg") center bottom 20%/116% no-repeat #0d2e57;
  display: flex;
  color: white;
  text-transform: uppercase;
  line-height: 0.75;
}
@media (min-width: 576px) {
  .sprinter {
    background: url("/images/sprinter.jpg") center 80%/116% #0d2e57;
  }
}
@media (min-width: 1200px) {
  .sprinter {
    background: url("/images/sprinter.jpg") center bottom 0px/116% no-repeat #0d2e57;
  }
}
.sprinter__column {
  margin: 0 0 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .sprinter__column {
    margin: 0 0 0 10%;
  }
}
@media (min-width: 576px) {
  .sprinter__column {
    margin: 10% 0 10% 10%;
  }
}
.sprinter__heading {
  margin-top: 38%;
  line-height: 0.8;
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1200px) {
  .sprinter__heading {
    margin-top: unset;
  }
}
.sprinter__body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.7em;
  padding: 1em 0 2em 0.6em;
  font-size: 0.8vw;
}
.sprinter__btn {
  margin-bottom: 5%;
  text-decoration: none;
}
@media (min-width: 576px) {
  .sprinter__btn {
    height: 1.5em;
    font-size: 1.6vw;
    width: 50%;
    margin-bottom: unset;
  }
}
@media (min-width: 1200px) {
  .sprinter__btn {
    height: unset;
    font-size: 17px;
  }
}
.sprinter__anchor {
  width: 30%;
  text-decoration: none;
}
.sprinter__body {
  font-size: 0.8vw;
  padding: 0;
  margin: 5% 0 15% 0;
}

.tile {
  background: none;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid #c7c7c7;
  border-top: none;
  position: relative;
}
@media (min-width: 576px) {
  .tile {
    background-color: #fff;
    padding-bottom: 20px;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .tile {
    padding-bottom: 30px;
  }
}
.tile--transparent {
  background-color: transparent;
}
.tile--sunglasses {
  border: 1px #c7c7c7 solid;
}
.tile--clickable:hover::before {
  content: "";
  background-color: rgba(138, 138, 138, 0.3764705882);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.tile--clickable:hover::after {
  content: "Shop Now";
  background-color: #3954d9;
  position: absolute;
  /* center */
  width: 85px;
  left: 0;
  right: 0;
  top: 0;
  margin: 45% auto;
  /**********/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 2em;
  font-size: 13px;
  color: #fff;
  padding: 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.tile--first {
  border-left: none;
}
.tile--last {
  border-right: none;
}
.tile__h2 {
  line-height: 90%;
  font-family: "Bebas Neue", sans-serif;
  margin: 0.5em 10px 0 10px;
  font-size: 2.5vw;
}
@media (min-width: 1200px) {
  .tile__h2 {
    font-size: 2.1em;
    margin: 50px 30px 0 30px;
  }
}
.tile__h3 {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 20px 20px;
  font-size: 0.5em;
  font-weight: 300;
  letter-spacing: 0.45em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .tile__h3 {
    margin: 20px 0 30px 24px;
    font-size: 14px;
    font-weight: 400;
  }
}
.tile__img {
  height: 100%;
  width: 100%;
  padding: 2em 0 1em 0;
}
.tile__img--sunglasses {
  padding: 0;
  width: 80%;
  align-self: center;
}
@media (min-width: 1200px) {
  .tile__img--sunglasses {
    padding: 3em 0 3em 0;
  }
}
.tile__title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #0d2e57;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
@media (min-width: 576px) {
  .tile__title {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .tile__title {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .tile__title {
    font-weight: 700;
    font-size: 25px;
  }
}
.tile__title--padding-left-39 {
  padding-left: 39px;
}
.tile__anchor {
  width: 30%;
}
.tile__content-container {
  padding: 0;
  text-align: center;
}
@media (min-width: 576px) {
  .tile__content-container {
    padding: 0 10px;
    text-align: center;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .tile__content-container {
    text-align: unset;
    min-height: unset;
    display: unset;
    padding-left: 39px;
  }
}
.tile__content {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
}
.tile__content--blue {
  color: #3954d9;
  font-size: 13px;
}
@media (min-width: 576px) {
  .tile__content--blue {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .tile__content--blue {
    font-size: 13px;
  }
}
.tile__content--grey {
  color: #ddd;
  font-size: 12px;
  text-decoration: line-through;
}
@media (min-width: 576px) {
  .tile__content--grey {
    font-size: 9px;
    color: #818181;
  }
}
@media (min-width: 768px) {
  .tile__content--grey {
    font-size: 12px;
  }
}

.tile-row {
  background: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: rgba(17, 17, 17, 0.0666666667);
  padding: 0;
  margin: 0;
}
@media (min-width: 576px) {
  .tile-row {
    background-color: #c7c7c7;
  }
}

.t-and-c {
  font-size: 10px;
  text-align: center;
  color: #656565;
  line-height: 150%;
  padding: 1em 0;
  margin: 0 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (min-width: 576px) {
  .t-and-c {
    font-size: 1.2vw;
    text-align: unset;
  }
}
@media (min-width: 1200px) {
  .t-and-c {
    font-size: 15px;
  }
}

.ul {
  list-style-type: none;
}
.ul--no-padding {
  padding: 0;
}

a:visited {
  color: unset;
}/*# sourceMappingURL=main.css.map */