.reduction {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.reduction--500 {
    color: #3954d9;
    font-size: 52px;
    font-weight: 700;
}

.reduction--1000 {
    font-size: 33px;
    color: #121212;
    font-weight: 500;
    text-decoration: line-through;
}

@media (width < 600px) {
    .reduction--500 {
        font-size: 32px;
        text-shadow: 1px 1px 1px white;
    }
    .reduction--1000 {
        font-size: 16px;
    }
}