* {
    text-transform: uppercase;
}

a {
    font-weight: 600;
    font-size: 10px;
    padding: 0 1em;
    text-decoration: none;
    color: white;
}

a:visited {
    color: #eee;
}

a:hover {
    color: hotpink;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

img {
    width: 25px;
    height: 25px;
}

header {
    background-color: #111;
    color: #eee;
    width: 100%;
    font-family: "serif";
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

/* Font Colors */
.phantomBlue {
    color: #0d2e57;
}

.blue500 {
    color: #3954d9
}

.grey61 {
    color: #616161;
}

.black12 {
    color: #121212
}

/* Font Sizes */
.size15 {
    font-size: 15px;
}

.size22 {
    font-size: 22px;
}

.size33 {
    font-size: 33px;
}

.size38 {
    font-size: 43px;
}

.size43 {
    font-size: 43px;
}

.size52 {
    font-size: 52px;
}

/* Font Families */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.bebasNeue {
    font-family: 'Bebas Neue', sans-serif;
}

/*Font Weights */
.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.paddingZero {
    padding: 0
}

.paddingTop2 {
    padding-top: 2em;
}


#ecomTools {
    float: right;
}

#emptyHamburger {
    width: 30px;
    color: #1110
}

.lorem {
    font-variant: normal;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8a8a8a;
}

.icons {
    display: flex;
}

#sprinter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    height: 300px;
    width: 100%;
    background-color: #EEE;
}

#basketballBackground {
    background-color: hotpink;
    padding: 0 100px;
}

#basketballContainer {
    position: relative;
    bottom: 80px;
}

#basketballContainer ul {
    display: flex;
    justify-content: space-around;
    font: #1111;
    background-color: #CCC;
    margin: 0;
    padding: 0;
}

#basketballContainer li {
   display: flex;
   flex-direction:column;
   align-items: center; 
   justify-content: space-around;
   margin: 0 0.5px;
   background-color: white;
}

#basketballContainer ul li a{
    padding-bottom: 2em;
    padding-top: 0.7em;
    font-variant: normal;
    color: #3753da;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: none;
}

#basketballContainer ul li img{
    padding: 2em 0 1em 0;
    height: 35px;
    width: 35px;
}

#basketballContainer ul li div{
    text-align: center;
    font-size: 13px;
    padding: 0.5em 3em;
}

#offer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f0f0;
    text-align: center;
}

#offer #left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#left .lorem{
    margin: 0.5em 5em;
}

#phantomElite {
    padding:  0.4em 0 1em 0;
}

#reduction {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#reduction span {
    padding: 20px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

#countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    border-radius: 20%;
    font-size: small;
    font-weight: 500;
    margin: 0 5px;
    padding: 5px 0;
}

#countdown .clock {
    margin-bottom: 15px;
    padding-bottom: 0 15px;
}

#countdown .clock div {
    color: #2d2b27;
}

#countdown div .number {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
}

#offer div {
    width: 50%;
}

#offer img {
    width: 100%;
    height: 100%;
}

#oneThousand {
    text-decoration: line-through;
}

#shopNow {
    display: flex;
    background-color: #3954d9;
    border-radius: 30px;
    height: 2em;
    font-size: medium;
    color: white;
    align-items: center;
    padding: 0.3em;
    margin: 1.5em 0;
}