.t-and-c {
    color: #656565;
    line-height: 150%;
    padding: 1em 0;
    margin: 0 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .t-and-c {
        font-size: 1.2vw;
    }
}

@media (max-width: 600px) {
    .t-and-c {
        font-size: 10px;
        text-align: center;
    }
}
